<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netNamedPipeBinding>
        <binding name="netPipeAgent" closeTimeout="00:30:00" openTimeout="00:31:00" receiveTimeout="00:32:00" sendTimeout="00:33:00" maxReceivedMessageSize="1073741824">
          <security mode="None">
            <transport protectionLevel="None" />
          </security>
        </binding>
      </netNamedPipeBinding>
    </bindings>
    <client>
      <endpoint address="net.pipe://localhost/BIMExpert/API" binding="netNamedPipeBinding" bindingConfiguration="netPipeAgent" contract="BIMExpertRef.IBIMExpertAPI" name="netPipeAgent" />
    </client>
  </system.serviceModel>
</configuration>